
.ggModel{
    width: 100%;
    height: auto;
    min-height: 480px;
}
.alltns{
    height: 25px!important;
    width: 50px !important;
    line-height: 25px !important;
    padding: 0 !important;
    font-size: 12px;

    }